@import "reset.css";

.menu {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}
.menu .menu__item {
    margin-top: 0.25rem;
    border-radius: 5px;
    background-color: #eee;
    text-align: left;
    line-height: 1.5rem;
}
.menu .menu__item:hover {
  background-color: #ddd;
  cursor: pointer;
}
