@import '../globals/globals';

.size-a4 {
  position: relative;

  display: block; ///
  overflow: hidden;

  width: 21cm;
  height: 29.7cm;
  margin: 1rem auto;
  padding: 3.5rem; ///

  background: #fff; ///
  box-shadow: 0 0 .5cm rgba(0, 0, 0, .5); ///
}

#header {
  margin-bottom: 2rem;
}
.header {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 20px;
    left: 0;
    right: 0;
    top: 44px;
    background-color: $bgGrey;
  }
  .header__inner {
    width: 476px;
    margin: 0 auto;
    position: relative;
    background-color: $mainWhite;
    z-index: 2;
    overflow: hidden;
    
    .header__avatar {
      width: 31%;
      float: left;
      .header__userfoto {
        width: 108px;
        height: 108px;
        border-radius: 50%;
        display: block;
        background-position: center center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .header__text {
      width: 68.9%;
      float: left;
      position: relative;
    }
    
    .header__username {
      font-size: 2rem;
      margin: 0;
      margin-bottom: 0.5rem;
      color: $nameBlack;
    }

    .header__position {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }

    .article__contacts {
      width: 49.9%;
      float: left;
      li {
        font-size: 13px;
        line-height: 1.4;
      }
    } 
    .header__item-link {
      
      &:hover .header__item-text {
        color: $mainGreen;
      }
    }
    .header__item-icon.fa {
      margin-right: 0.25rem;
    }
    .header__item-text {
      color: $mainGrey;
      font-size: 11px;
    }
  }
}

#content {
  width: 61%;
  margin-right: 4%;
  float: left;
}

#sidebar {
  width: 35%;
  float: left;
}

$sectionHeaderFontSize: 1.125rem;
$sectionHeaderIconSize: 2.5rem;
$sectionHeaderLineHeight: 0.4rem;
$sectionHeaderLineTop: 1.05rem;
$sectionHeaderTextIndent: 0.5rem;
$articleIndent: $sectionHeaderIconSize + $sectionHeaderTextIndent;
.section {
  position: relative;
  margin-bottom: 2rem;
  &::before {
    content: '';
    position: absolute;
    height: $sectionHeaderLineHeight;
    left: 0;
    right: 0;
    top: $sectionHeaderLineTop;
    background-color: $bgGrey;
  }
  .section__header {
    position: relative;
    background-color: $mainWhite;
    z-index: 2;
    overflow: hidden;
    display: inline-block;
    // line-height: $sectionHeaderIconSize;
    
    .section__icon {
      font-size: $sectionHeaderFontSize;
      text-align: center;
      line-height: $sectionHeaderIconSize;
      width: $sectionHeaderIconSize;
      height: $sectionHeaderIconSize;
      background-color: $bgGrey;
      border-radius: 50%;
    } // напр, Education, Work, About, Skills, Courses, ...
    
    .section__name {
      float: left;
      text-transform: uppercase;
      color: $mainGreen;
      white-space: nowrap;
      margin: 0 $sectionHeaderTextIndent;
      line-height: $sectionHeaderIconSize;
    } // напр, Education, Work, About, Skills, Courses, ...
  }
    
  // background: // Полоска на всю ширину подкладки.
  // ;
    
  
  $articleBulletSize: 0.625rem;
  $artcleFontSize: 0.75rem;
  $articleBulletLeft: - ($articleIndent - $sectionHeaderIconSize / 2 + $articleBulletSize / 2);
  $articleBulletTop: ($artcleFontSize - $articleBulletSize) / 2;
  .article { // article
    position: relative;
    margin-left: $articleIndent;
    margin-top: 1rem;
    font-size: $artcleFontSize;
    line-height: 1;
    color: $mainGrey;
    &::before {
      content: '';
      position: absolute;
      width: $articleBulletSize;
      height: $articleBulletSize;
      border-radius: 50%;
      background-color: $bgGrey;
      top: $articleBulletTop;
      left: $articleBulletLeft;
    }
    &.article_narrow {
      // margin-top: 0.25rem;
      // margin-bottom: 0.25rem;
    }
    &.article_plain {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      margin-left: 0.5rem;
      text-align: justify;
      text-indent: -0.5rem;
      &::before {
        display: none;
      }
    }
    .article__header { // напр, Unilever, Mondeleze, ...
      text-transform: uppercase;
      color: $mainGreen;
      margin-bottom: 0.25rem;
      & a {
        display: inline-block;
      }
      span.article__years {
        color: $mainBlack;
        text-transform: none;
      }
    }
    .article__subheader {
      line-height: 1.125;
      margin-bottom: 0.5rem;
      text-align: justify;
    } // должность, звание, факультет, ...
    .article__pointsList {
      // margin-left: -31px;
    }
    .article__point {
      line-height: 1.4;
      margin-bottom: 0.125rem;
      text-align: justify;
      
        
      .article__point-bullet {
        width: 1rem;
        float: left;
        display: block;
      }
      .article__point-text {
        display: block;
        padding-left: 1rem;
      }
    }
  }
  
  & > p {} // например, как в секции "about" - без буллетов.
  
  .percented-item__text {}  // English
  .percented-item__value {} // 70% - точками из 10.
}
