$picturesVisible: 1;
$pictureWidthPixels: 300px;
$gutterPixels: 20px;
$hiderWidth: ($pictureWidthPixels * $picturesVisible) + ($gutterPixels * ($picturesVisible - 1));

.crsl {
  display: block;
  visibility: hidden;
  margin: 15px auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 1219px;
  width: 100%;
  min-width: $pictureWidthPixels;
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.crsl__arrow {
  display: block;
  float: left;
  margin-top: 80px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: lightgrey;
  background-image: url('../img/btn-prev.svg');
  
  &:hover {
    cursor: pointer;
    background-color: grey;
  }

  &-left {
    margin-right: 15px;
  }

  &-right {
    margin-left: 15px;
  }
}

.crsl__hider {
  float: left;
  width: 1075px;
  width: $hiderWidth;
  overflow: hidden;
}

.crsl__list {
  position: relative;
  width: 10000px;
}

.crsl__element {
  display: block;
  float: left;
  margin-right: 25px;
  text-align: center;
  position: relative;
  
  & img {
    max-width: 300px;
  }

  .icon {
    position: absolute;
    display: flex;
    width: 100%;
    // top: 50%;
    // left: 50px;
    z-index: 10;
    
    // * {
    //   display: block;
    //   z-index: 20;
    // }
  }
}

.crsl__descr {
  position: absolute;
  top: -50px;
}