@import '../globals/globals';

.hiw {
  @include container();
  @include span(12 of 12);
  padding-left: 0;
  padding-right: 0;
  background-color: lightgrey;
}

.hiw__header {
  text-align: center;
  padding-top: 37px;
  font-size: 22px;
}

.hiw__steps {
  padding-top: 10px;
}