@import '../globals/globals';

.hiw {
  padding-left: 0;
  padding-right: 0;
}

.hiw__header {
  text-align: center;
  margin-top: 37px; 
  font-size: 22px;
  
  @media (min-width: $mediaTablet) {
    margin-top: 97px;
  }

}

.hiw__content {
  margin-top: 16px;
  padding-left: 0;
  padding-right: 0;
  
  @media (min-width: $mediaTablet) {
    margin-top: 25px;
  }

}