/*
(.) img: изображения, фоны, иконки и т.п.
(!) структура елементов (HTML)
(!) позиции, отступы елементов
(!) тексты (HTML)
(!) font face
(!) font size
(!) font color
(!) цвета элементов, границы
*/

@import "reset.css";

.clr{/*После сфлоаченных блоков добавляем <div class="clr"> без содержимого и он прекратит сфлоачивание. */
  clear:both;
}
.clearfix:after{/*Добавляем этот класс к parent-элементу, у которого есть только сфлоачиваемые дети. Это прекратит сфлоачивание. */
  content: "";
  display: table;
  clear: both;
}

html{
  font-family: tahoma,sans-serif;
}
body{
  width: 960px;
  min-height: 830px;
  background: #000 url(../img/background.jpg) no-repeat 0 -53px;
  margin: auto;
  color: #e6e6e6;
}

/*HEAD*/
p.slogan{
  font-size: 0.635em;
}
h2{
  font-size: 0.635em;
}
.contactdetails{
  font-size: 0.529375em;
}

/*MAIN*/
li.main__li{
  display: inline-block;
  position: relative;
  float: left;
  /*margin: 10px;*/
  width: 270px;
  height: 250px;
  /*overflow: hidden;*/
}
li.main__li:nth-child(3n-2){
  margin-right: 7px;
}
li.main__li:nth-child(3n-1){
  margin-right: 6px;
}

img.ramka{           /* 270 x 189 */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
img.countryimage{    /* 260 x 178 */
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}
p.imagename{
  display: block;
  position: relative;
  top: 187px;
  text-align: center;
  font-size: 0.9525em;
}



/*FOOTER*/
p.legal{
  font-size: 0.635em;
  display: inline-block;
  position: absolute;
  bottom: 0;
  text-align: right;
  
}