/*
(!) img: изображения, фоны, иконки и т.п.
(!) структура елементов (HTML)
(!) позиции, отступы елементов
(!) тексты (HTML)
(!) font face
(!) font size
(!) font color
(!) цвета элементов, границы
*/

@import "reset.css";

.clr{/*После сфлоаченных блоков добавляем <div class="clr"> без содержимого и он прекратит сфлоачивание. */
  clear:both;
}
.clearfix:after{/*Добавляем этот класс к parent-элементу, у которого есть только сфлоачиваемые дети. Это прекратит сфлоачивание. */
  content: "";
  display: table;
  clear: both;
}

