@import '../globals/globals';

.footer {
  margin-top: 40px;
  height: 100px;
  border: 10px solid #999;
  border-top: 4px solid $main-red;

  @include span(12);
  background-color: lightgrey;
  
  .footer__logo {
    
  }

  .footer__menu {
    
    .footer__company {
      
      .footer__company-header {
        
      }
      
      .footer__company-menu {
        
        .footer__company-item {
          
        }

      }

    }
    
    .footer__partners {
      
    }

  }

  .footer__legal {

    .footer__legal-label {
      
    }
    
    .footer__legal-logo {
      
    }
    
  }

}
