@import '../globals/globals';

.footer {
  margin-top: 40px;
  width: 100%;
  border-top: 4px solid $main-red;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: lightyellow;
  
  .footer__logo {
    font-family: $font-main-bold;
    font-size: 16px;
    color: $main-red;
    
  }

  .footer__menu {
    font-family: $font-main-bold;
    font-size: 14;
    color: $main-black;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;

    .footer__company {
      margin-left: span(1 of 6);
      margin-right: span(1 of 6);

      .footer__company-header {
        text-align: center;
        
      }
      
      .footer__company-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        
        .footer__company-item {

          & > a {
            font-family: $font-plain;
            font-size: 14px;
            line-height: 20px;
            color: $plain-on-light;
          }
          
        }

      }

    }
    
    .footer__partners {
      text-align: center;
    }

  }

  .footer__legal {

    .footer__legal-label {
      font-family: $font-main_bold;
      font-size: 10px;
      line-height: 16px;
      color: $legal-header;
      text-transform: uppercase;
      text-align: center;
      
    }
    
    .footer__legal-logo {
      
    }

  }

}


@media (min-width: $mediaTablet) {
  // @include span(1 of 2);
  // padding-left: gutter(6);
  // padding-right: gutter(6);
  // margin-top: 33px;
}

@media (min-width: $desktop) {
  // @include span(3 of 12);
  // padding-left: gutter(6);
  // padding-right: gutter(6);
}
