.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-basis: 633px;
}

.controls-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 200px;
}