/*
(+) структура елементов (HTML)
(+) тексты (HTML)
(+) изображения, фоны, иконки и т.п.
(+/-) шрифты
(-) цвета элементов, границы
(-) позиции, отступы елементов
*/

@import "reset.css";

.clr{
  clear:both;
}
.clearfix{
  clear: both;
  content: "";
  display: table;
}

html{
  font: 13.33px "Open Sans",Arial,sans-serif;
  /*color: #FFF;*/
}

.wrapper{
  width: 966px;
  /*height: 950px;*/
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  margin: auto;
  padding: 50px 48px 0 46px;
}
a{
  text-decoration: none;
}

/*HEADER*/
header{
  margin-bottom: 40px;
}
.logo{
  margin-bottom: 40px;
}
.header_nav{
  width: 966px;
  height: 40px;
  background-color: white;
  background-image: linear-gradient(to top, #444343 0%, #5e5e5e 100%);
  display: flex;
}
.header_nav__li{
  display: inline-flex;
  flex-direction: row;
  margin: auto 0;
}
.header_nav__li_a{
  box-sizing: border-box;
  font-size: 15px;
  line-height: 36px;
  color: #FFF;
  text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.5);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding: 2px 30px;
  display: block;
}
.header_nav__li_a:hover{
  background-image: linear-gradient(to top, #2e2e2e 0%, #4a4a4a 100%);
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}

/*CONTENT*/
.content{
  overflow: hidden;
}

/*ASIDE*/
aside{
  display: block;
  float:left;
  /*margin-right: 48px;*/
  width: 240px;
  height: 100%;
}
.aside_nav_li{
  display: block;
  box-sizing: border-box;
  width: 240px;
  height: 40px;
  border: 1px solid #c8c8c8;
  border-bottom: 0;
  line-height: 37px;
  padding-left: 23px;
}
.aside_nav_li:last-of-type{
  border-bottom: 1px solid #c8c8c8;
}
.aside_nav_li_a{
  display: block;
  width: 238px;
  height: 39px;
  color: #656363;
}
.aside_nav_li_a:hover{
  color: #2c2c2c;
  padding-left: 12px;
}
.fn{
  display: block;
  float: none;
}

/*MAIN*/
main{
  display: block;
  float: right;
  width: 678px;
}
[alt="Bicycle"]{
  border: 1px solid #c8c8c8;
  box-sizing: border-box;
  /*width: 678px;
  height: 400px;*/
  padding-left: 88px;
  padding-right: 88px;
  padding-top: 66px;
  padding-bottom: 45px;
  margin-bottom: 40px;
}
.main_article p{
  /*width: 678px;*/
  padding: 0 24px;
  line-height: 21px;
  color: #2c2c2c;
  margin-bottom: 60px;
}

/*FOOTER*/
footer{
  width: 966px;
  background-color: #e1e1e1;
  font-size: 13.33px;
  line-height: 36px;
}
.footer_nav{
  display: flex;
  float: left;
}
.footer_nav__li{
  display: inline-flex;
  flex-direction: row;
  margin: auto 0;
  height: 40px;
}
.footer_nav__li_a{
  box-sizing: border-box;
  padding: 2px 30px;
  color: #2c2c2c;
}
.footer_nav__li_a:hover{
  text-decoration: underline;
  color: #2c2c2c;
}
.legal{
  display: inline-flex;
  float: right;
  padding: 2px 30px;
}
