@import '../globals/globals';

.ideas {
  // border: 10px solid #999;

  @include span(full);
  padding-left: 0;
  padding-right: 0;
  background-color: lightgrey;
  
  .ideas__header {
    font-family: $font-main-bold;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.1818;
    color: $main-black;
    text-align: center;
    
    margin-top: 35px;
    // border: 1px solid black;
  }

  .ideas__content {
    margin-top: 13px;
    // height: 900px;
    // border: 1px solid #000;

    // .search__result-container {
    //   // height: 10px;
    // }
  }

  .ideas__item {
    margin-top: 9px;
    max-height: 120px;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .ideas__img {
    max-width: 100%;
  }

  .ideas__title {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    font-family: $font-main-bold;
    font-weight: bold;
    font-size: 22px;
    line-height: 40px;
    color: $main-white;
  }


}
