@import '../globals/globals';

.ideas {
  // border: 10px solid #999;

  @include span(12 of 12);
  // @include break;
  padding-left: 0;
  padding-right: 0;
  @media (min-width: $mediaTablet) {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .ideas__header {
    font-family: $font-main-bold;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.1818;
    color: $main-black;
    text-align: center;
    margin-top: 35px;
    
    @media (min-width: $mediaTablet) {
      margin-top: 96px;
    }
  }

  .ideas__content {
    margin-top: 13px;
  }

  .ideas__item {
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .ideas__img {
    // max-width: 100%;
    
    @media (min-width: $mediaTablet) {
      position: absolute;
      width: auto;
    }
  }

  .ideas__title {
    position: absolute;
    display: block;
    // width: 100%;
    text-align: center;
    font-family: $font-main-bold;
    font-weight: bold;
    font-size: 22px;
    line-height: 40px;
    color: $main-white;
    text-shadow: 0 0 1px $plain-on-light;
  }
}

.msnry__sizer {
  // width: span(12);
  width: 100%;
  // @include span(12);
  
  @media (min-width: $mediaTablet) {
    @include span(4);
    // width: span(4 of 12 wide);
    // width: 33.3333%;
    // width: 31.5508%;
    width: 31.6%;
    padding-left: 0;
    padding-right: 0;
  }  
}

.msnry__item {
  margin-top: 9px;
  width: 100%;
  min-height: 120px;
  
  @media (min-width: $mediaTablet) {
    margin-top: 20px;
    min-height: 310px; // Переписать это в размерах Susy !
    // @include span(4 of 12);
    // width: span(4 of 12 narrow);
    // width: 33.3333%;
    width: 31.5508%;
    width: 31.55%;
    // width: 31.6%;
    padding-left: 0;
    padding-right: 0;
  }
}

.msnry__item-width2 {
  @media (min-width: $mediaTablet) {
    width: 65.73%;
    padding-left: 0;
    padding-right: 0;
  }
}

.msnry__gutter-sizer {
  // width: 9px;
  // @include gutter();
  // width: gutter();
  width: 2.6738%;
  width: 2.63%;
  // width: 20px;
}