@import '../globals/globals';

.promo {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  // min-width: $mobile;
  // max-width: $mediaDesktop;
  // margin-left: auto;
  // margin-right: auto;

  align-self: stretch;
  height: 540px;
  background-image: url('../img/bg-promo.jpg');
  background-repeat: no-repeat;
  background-position: top -10px left 51.4%;
  background-size: auto 102.4%;
  padding-top: 20px;
  
  font-family: $font-main-bold;
  font-weight: bold;
  color: $main-white;

  .promo__header {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    padding-left: 0;
    padding-right: 0;
    
    @media (min-width: $mediaTablet) {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 6%;
      padding-right: 6%;
    }
    @media (min-width: $mediaDesktop) {
      padding-left: 17.4%;
      padding-right: 17.4%;
    }
  }

  @media (min-width: $mediaTablet) {
    // min-width: $tablet;
    // min-width: 700px;
    background-position: center;
    background-size: cover;
    height: 700px;
    padding-top: 38px;
    // padding-left: 50px;
    // padding-right: 50px;
  }
  
  @media (min-width: $mediaDesktop) {
    // min-width: $mediaDesktop;
  }

}

.promo__login > .promo__login-btn {
  border-color: transparent;
  background-color: transparent;
  // font-weight: bold;
  
  &:hover {
    border-color: $main-white;
    background-color: transparent;
  }
}

.promo__slogan {
  padding-top: 30px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $mediaTablet) {
    padding-top: 140px;
    font-size: 52px;
    line-height: 62px;
  }
}

.promo__subslogan {
  padding-top: 9px;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 18px;
  line-height: 21px;
  font-family: $font-plain;
  font-weight: lighter;
  text-align: center;

  @media (min-width: $mediaTablet) {
    padding-top: 28px;
    font-size: 24px;
  }
}

.promo__btn-gostart {
  display: block;
  line-height: 36px;
  margin-top: 16px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: $main-red;
  text-align: center;
  
  @media (min-width: $mediaTablet) {
    padding-left: 21px;
    margin-top: 37px;
    width: 226px;
  }
}