@import '../globals/globals';

.promo {
  
  width: $desktop;
  height: 540px;
  background: #c6a57a url('../img/bg-promo.jpg') no-repeat center;
  background-size: cover;
  padding-top: 38px;
  
  font-family: $font-main;
  color: $main-white;

  .susy {
    @include container();
    // @include clearfix;
    // @include span(12);
  }

  .header {
    @include span(12);
    @include clearfix;
  }

  .btn-login {
    float: right;
    border-color: transparent;
    
    &:hover {
      border-color: $main-white;
    }
  }

  @media (min-width: 320px) {
  }
  
  @media (min-width: 768px) {
    height: 700px;
  }
  
  @media (min-width: 1440px) {
  }

}