@import '../globals/globals';

.promo {
  
  min-width: $mobile;
  height: 540px;
  background-color: #c6a57a;
  background-image: url('../img/bg-promo.jpg');
  background-repeat: no-repeat;
  background-position: top -10px left 51.4%;
  // background-position: center;
  background-size: auto 102.4%;
  // background-size: cover;
  padding-top: 20px;
  
  font-family: $font-main-bold;
  font-weight: bold;
  color: $main-white;

  .promo__wraper {
    @include container();
  }

  .promo__header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    padding-left: 0;
    padding-right: 0;
    
    @media (min-width: $mediaTablet) {
      flex-direction: row;
      justify-content: space-between;
    }
    
  }

  @media (min-width: $mediaTablet) {
    min-width: $tablet;
    background-position: center;
    background-size: cover;
    height: 700px;
    padding-top: 38px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  @media (min-width: $desktop) {
    min-width: $desktop;
  }

}

.promo__login-btn {
  border-color: transparent;
  
  &:hover {
    border-color: $main-white;
  }
}

.promo__slogan {
  padding-top: 30px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $mediaTablet) {
    padding-top: 140px;
    font-size: 52px;
    line-height: 62px;
  }
  
}

.promo__subslogan {
  padding-top: 9px;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 18px;
  line-height: 21px;
  font-family: $font-plain;
  font-weight: lighter;
  text-align: center;

  @media (min-width: $mediaTablet) {
    padding-top: 28px;
    font-size: 24px;
  }

}
