@import '../globals/globals';

.page {
  display: flex;
  flex-direction: column;
  font-family: $font-main;

  min-width: $mobile;
  max-width: $mediaDesktop;
  margin-right: auto;
  margin-left: auto;

  align-items: center;
}
