@import './tools/vars.scss';

.carousel__container {
  display: flex;
  flex-direction: column;
  
  @media #{$tablet} {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}


.carousel__controls {
  display: inline-block;
  float: none;

  width: 100%;
  
  @media #{$tablet} {
    display: block;
    float: left;

    width: 33.333%;
  }
  
  .carousel__next-btn {
    @include secondary-font;

    $fz: 12.0408vw;
    font-size: $fz;
    width: calc(17 / 100vw);
    height: 85vw;
    line-height: 85vw;
    font-weight: 700;

    display: block;

    text-align: center;

    color: $primary;
    background-color: #5b0fa1;
    
    @media #{$tablet} {
      font-size: 4.01vw;
      line-height: 28.56vw;
      font-weight: 700;

      display: block;

      height: auto;

      text-align: center;
    }
    
    @media #{$desktop} {
      line-height: 28.62vw;
    }
  }
}


.carousel__list {
  @media#{$tablet} {
    width: 66.667%;
  }
}

.carousel__element {
  display: block;
  float: none;

  @media#{$tablet} {
    float: left;
    width: 50%;
  }
}
