@import "./tools/vars.scss";

$mob-menu-height: 11.563vw;
// $mob-menu-height: 11.563vw;
$mob-menu-icon-width: 12.813vw;
// $mob-menu-icon-width: 12.813vw;

$menu-lighter: #373c3f;
$menu-darker: #202529;


header {
  @include main-font;

  position: absolute;
  top: 0;

  width: 100%;
}


.nav {
  color: $primary;
  background-color: inherit;
  
  @media #{$mobile} {
  }
  
  @media #{$tablet} {
    padding-left: 54px;

    background-color: $menu-lighter;
  }
}


.menu__icon {
  display: block;
  float: right;

  width: $mob-menu-icon-width;
  height: $mob-menu-height;

  text-align: center;

  background-color: $menu-darker;
  
  & .ico-menu {
    line-height: $mob-menu-height;

    display: inline;

    width: 5vw;
    height: $mob-menu-height;
  }

  &:hover {
    cursor: pointer;
  }

  @media #{$mobile} {
    font-size: $mob-menu-height;
    line-height: $mob-menu-height;

    width: $mob-menu-icon-width;
  }

  @media #{$tablet} {
    display: none;
    float: none;
  }
}



.menu__handheld {
  font-size: 3.75vw;
  line-height: $mob-menu-height;

  display: block;

  text-indent: 5.938vw;

  color: inherit;
  background-color: $menu-lighter;
  
  @media #{$tablet} {
    display: none;
  }
}


.menu__wide {
  display: none;
  float: none;
  
  @media #{$tablet} {
    display: block;
    float: left;

    margin-right: #{-$gutter};
    margin-left: #{-$gutter};
  }
}


.menu__wide.show {
  font-size: 15px;
  
  display: block;
  float: right;

  min-width: 50%;
  
  .nav & {
    background-color: $menu-lighter;
  }
  
  & ~ .menu__handheld {
    display: none;
  }
  
  @media #{$mobile} {
    min-width: 30%;
  }
  
  @media #{$tablet} {
    float: none;
  }
}


.menu__item {
  @media #{$tablet} {
    float: left;
  }
}


.menu__link {
  display: block;

  padding: 11px;

  text-transform: uppercase;

  color: inherit;
  
  &:hover {
    background-color: $menu-darker;
  }
  
  @media #{$mobile} {
    padding: 1rem;
  }
  
  @media #{$tablet} {
    padding: 41px $gutter;
  }
}
