@import './tools/vars.scss';

.slogan {
  background-color: #27212c;
}

.slogan__text {
  @include main-font;

  font-size: 3.061vw;
  font-weight: 400;
  line-height: 23.878vw;

  display: inline-block;

  text-indent: 8.265vw;

  color: #9282a0;
}

.slogan__next-btn {
  font-family: Quicksand;
  font-size: 5.102vw;
  font-weight: 700;
  line-height: 23.878vw;

  display: inline-block;
  float: right;

  width: 22.245vw;

  text-align: center;

  color: $primary;
  background-color: #bc3183;
}
