html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img, embed, object, video {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  line-height: 1;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[hidden] {
  display: none;
}

/************** End of Reset **************/

@font-face {
  font-family: 'MontserratBold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratReg';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: MontserratBold, Arial, sans-serif;
}

p, input[type="text"], textarea, label {
  font-family: Roboto, Tahoma, sans-serif;
}

a, input[type="button"], input[type="submit"], button {
  font-family: MontserratReg, Arial, sans-serif;
}

.btn {
  padding-left: 17px;
  padding-right: 17px;
  border: 2px solid #f66;
  border-radius: 50px;
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
  color: inherit;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 102, 102, 0.7);
  border-color: transparent;
}

.carousel__container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  margin-top: 10px;
}

.carousel__container::after {
  content: '';
  display: block;
  clear: both;
}

@media (min-width: 768px) {
  .carousel__container {
    width: 33.33333%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .carousel__container:first-child {
    padding-left: 0;
  }
  .carousel__container:nth-child(3) {
    padding-right: 0;
  }
}

.carousel__hider {
  position: relative;
  float: left;
  overflow: hidden;
  border-radius: 4px;
}

.carousel__hider:hover .carousel__element {
  box-shadow: none;
}

.carousel__list {
  position: relative;
  width: 10000px;
}

.carousel__element {
  position: relative;
  display: block;
  float: left;
  margin-right: 25px;
  height: 240px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  box-shadow: 0px -360px 240px -240px rgba(0, 0, 0, 0.6) inset;
}

@media (min-width: 768px) {
  .carousel__element {
    height: 400px;
  }
}

.carousel__element-1 {
  background-image: url(../img/Mobile-step1.jpg);
}

@media (min-width: 768px) {
  .carousel__element-1 {
    background-image: url(../img/Desktop-step1.jpg);
  }
}

.carousel__element-2 {
  background-image: url(../img/Mobile-step2.jpg);
}

@media (min-width: 768px) {
  .carousel__element-2 {
    background-image: url(../img/Desktop-step2.jpg);
  }
}

.carousel__element-3 {
  background-image: url(../img/Mobile-step3.jpg);
}

@media (min-width: 768px) {
  .carousel__element-3 {
    background-image: url(../img/Desktop-step3.jpg);
  }
}

.carousel__element-description {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 10;
  color: #fff;
}

.carousel__element-description .carousel__element-btn {
  width: 70px;
  background-color: #f66;
  margin-bottom: 15px;
  font-family: MontserratReg, Arial, sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  text-indent: 3px;
  letter-spacing: 2px;
  vertical-align: 5px;
}

.carousel__element-description .carousel__element-header {
  font-family: MontserratBold, Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
}

.carousel__element-description .carousel__element-text {
  color: #ccc;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 17px;
}

.carousel__controls {
  position: absolute;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  height: 100%;
}

.carousel__controls-prev > .icon {
  float: left;
}

.carousel__controls-next > .icon {
  float: right;
}

.carousel__controls-prev, .carousel__controls-next {
  width: 50%;
}

.carousel__controls-prev > .icon, .carousel__controls-next > .icon {
  visibility: hidden;
}

@media (min-width: 768px) {
  .carousel__controls-prev > .icon, .carousel__controls-next > .icon {
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .carousel__controls-prev, .carousel__controls-next {
    padding: 40px 20px;
  }
}

@media (min-width: 1440px) {
  .carousel__controls-prev, .carousel__controls-next {
    padding-top: 150px;
  }
}

.carousel__controls-prev:hover, .carousel__controls-next:hover {
  opacity: 0.7;
  cursor: pointer;
}

.icon {
  display: block;
  z-index: 10;
}

.input {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 0 #eee;
  padding-left: 16px;
  padding-right: 16px;
}

.promo__logo {
  display: block;
  margin-top: 115px;
  font-size: 20px;
  letter-spacing: 1.1px;
}

.promo__logo:hover {
  cursor: pointer;
  color: #f66;
}

@media (min-width: 768px) {
  .promo__logo {
    float: left;
    font-size: 20px;
    padding-top: 2px;
    letter-spacing: 0.9px;
  }
}

.promo__login {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (min-width: 768px) {
  .promo__login {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
}

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-btn-next {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 30px;
  height: 55px;
}

.icon-btn-prev {
  background-image: url(../img/sprite.png);
  background-position: -30px 0px;
  width: 30px;
  height: 55px;
}

.icon-circle-cup {
  background-image: url(../img/sprite.png);
  background-position: -41px -55px;
  width: 40px;
  height: 40px;
}

.icon-circle-flask {
  background-image: url(../img/sprite.png);
  background-position: -60px 0px;
  width: 41px;
  height: 40px;
}

.icon-circle-plane {
  background-image: url(../img/sprite.png);
  background-position: 0px -55px;
  width: 41px;
  height: 40px;
}

.icon-circle-tv {
  background-image: url(../img/sprite.png);
  background-position: -101px 0px;
  width: 40px;
  height: 40px;
}

.prefooter {
  width: 100%;
  border-top: 4px solid #f66;
}

.footer {
  padding-top: 19px;
  margin-bottom: 18px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__logo {
  font-family: MontserratBold, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #f66;
}

.footer .footer__logo:hover {
  text-shadow: 0 0 1px #f66;
}

@media (min-width: 768px) {
  .footer .footer__logo {
    width: 25%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 40px;
  }
}

@media (min-width: 1440px) {
  .footer .footer__logo {
    width: 16.66667%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 0;
  }
}

.footer .footer__menu {
  font-family: MontserratBold, Arial, sans-serif;
  font-size: 14;
  line-height: 1;
  color: #333;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .footer .footer__menu {
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1440px) {
  .footer .footer__menu {
    width: 25%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 8.33333%;
    padding-left: 0;
    padding-right: 0;
    margin-right: 33.33333%;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .footer__menu .footer__company {
  margin-left: 16.66667%;
  margin-right: 16.66667%;
}

.footer .footer__menu .footer__company .footer__company-header {
  margin-top: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer .footer__menu .footer__company .footer__company-header {
    margin-top: 0;
    text-align: left;
    margin-bottom: 10px;
  }
}

.footer .footer__menu .footer__company .footer__company-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2px;
}

.footer .footer__menu .footer__company .footer__company-menu .footer__company-item > a {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}

.footer .footer__menu .footer__company .footer__company-menu .footer__company-item > a:hover {
  text-shadow: 0px 0px 1px #333;
}

@media (min-width: 768px) {
  .footer .footer__menu .footer__company .footer__company-menu .footer__company-item > a {
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .footer .footer__menu .footer__company .footer__company-menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .footer .footer__menu .footer__company {
    width: 25%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 16.66667%;
    margin-right: 16.66667%;
  }
}

@media (min-width: 1440px) {
  .footer .footer__menu .footer__company {
    width: 66.66667%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }
}

.footer .footer__menu .footer__partners {
  margin-top: 13px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer .footer__menu .footer__partners {
    margin-top: 0;
    width: 25%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 13.33333%;
    margin-right: 20%;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .footer .footer__menu .footer__partners {
    width: 33.33333%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .footer .footer__legal {
    width: 16.66667%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-right: 0;
    margin-right: 8.33333%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1440px) {
  .footer .footer__legal {
    margin-right: 0;
  }
}

.footer .footer__legal .footer__legal-label {
  margin-top: 13px;
  font-family: MontserratBold, Arial, sans-serif;
  font-size: 10px;
  line-height: 16px;
  color: #ccc;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .footer .footer__legal .footer__legal-label {
    margin-top: 0;
  }
}

.footer .footer__legal .footer__legal-link:hover {
  cursor: pointer;
  background: linear-gradient(to top, rgba(51, 51, 51, 0.2), transparent);
}

.footer .footer__legal .footer__legal-link .footer__legal-logo {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .footer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    margin-bottom: 37px;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer:after {
    content: " ";
    display: block;
    clear: both;
  }
  head {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 999;
    color: #333;
    background: rgba(255, 255, 255, 0.25);
  }
  head:before {
    content: "|||";
    display: block;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
  head:hover {
    background: rgba(255, 255, 255, 0.5);
    color: red;
  }
  head:hover ~ .footer,
  head:hover ~ body .footer {
    position: relative;
  }
  head:hover ~ .footer:before,
  head:hover ~ body .footer:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    z-index: 998;
    background-image: linear-gradient(to right, rgba(102, 102, 255, 0.4), rgba(179, 179, 255, 0.4));
    background-size: 8.33333%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
  }
}

.hiw {
  padding-left: 0;
  padding-right: 0;
}

.hiw__header {
  text-align: center;
  margin-top: 37px;
  font-size: 22px;
}

@media (min-width: 768px) {
  .hiw__header {
    margin-top: 97px;
  }
}

.hiw__content {
  margin-top: 16px;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .hiw__content {
    margin-top: 20px;
  }
}

.ideas {
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-left: 0;
  padding-right: 0;
  background-color: lightgrey;
}

.ideas .ideas__header {
  font-family: MontserratBold, Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.1818;
  color: #333;
  text-align: center;
  margin-top: 35px;
}

.ideas .ideas__content {
  margin-top: 13px;
}

.ideas .ideas__item {
  margin-top: 9px;
  border-radius: 4px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media (min-width: 768px) {
  .ideas .ideas__img {
    position: absolute;
    width: auto;
  }
}

.ideas .ideas__title {
  position: absolute;
  display: block;
  text-align: center;
  font-family: MontserratBold, Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 40px;
  color: #fff;
  text-shadow: 0 0 1px #666;
}

.msnry__item {
  width: 100%;
  height: 120px;
}

@media (min-width: 768px) {
  .msnry__item {
    min-height: 310px;
    width: 31.6%;
    padding-left: 0;
    padding-right: 0;
  }
}

.msnry__item-width2 {
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .msnry__item-width2 {
    min-height: 310px;
    width: 66.66667%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 0;
    padding-right: 0;
  }
}

.msnry__gutter {
  width: 2,6738%;
}

.page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 320px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightpink;
}

@media (min-width: 320px) {
  .page {
    background-color: lightgreen;
  }
}

@media (min-width: 768px) {
  .page {
    background-color: lightblue;
  }
}

@media (min-width: 1440px) {
  .page {
    background-color: lightyellow;
  }
}

.page__wrapper {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.page__wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

head {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}

head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}

head:hover ~ .page__wrapper,
head:hover ~ body .page__wrapper {
  position: relative;
}

head:hover ~ .page__wrapper:before,
head:hover ~ body .page__wrapper:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.4), rgba(179, 179, 255, 0.4));
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}

@media (min-width: 768px) {
  .page__wrapper {
    min-width: 748px;
  }
}

@media (min-width: 1440px) {
  .page__wrapper {
    min-width: 940px;
  }
}

.partners {
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.partners .partners__header {
  margin-top: 35px;
  font-family: MontserratBold, Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  text-align: center;
}

@media (min-width: 768px) {
  .partners .partners__header {
    margin-top: 99px;
  }
}

.partners .partners__content {
  padding-left: 0;
  padding-right: 0;
  margin-top: -5px;
}

@media (min-width: 768px) {
  .partners .partners__content {
    width: 66.66667%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 0;
    padding-right: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    max-height: 550px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .partners .partners__content:after {
    content: " ";
    display: block;
    clear: both;
  }
  head {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 999;
    color: #333;
    background: rgba(255, 255, 255, 0.25);
  }
  head:before {
    content: "|||";
    display: block;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
  head:hover {
    background: rgba(255, 255, 255, 0.5);
    color: red;
  }
  head:hover ~ .partners .partners__content,
  head:hover ~ body .partners .partners__content {
    position: relative;
  }
  head:hover ~ .partners .partners__content:before,
  head:hover ~ body .partners .partners__content:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    z-index: 998;
    background-image: linear-gradient(to right, rgba(102, 102, 255, 0.4), rgba(179, 179, 255, 0.4));
    background-size: 8.33333%;
    background-origin: content-box;
    background-clip: content-box;
    background-position: left top;
  }
}

@media (min-width: 1440px) {
  .partners .partners__content {
    width: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 0;
    padding-right: 0;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.partners .partners__content .partners__card {
  margin-top: 20px;
  margin-bottom: 27px;
  padding-left: 13%;
  padding-right: 13%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .partners .partners__content .partners__card {
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 1.66667%;
    padding-right: 1.66667%;
    margin-top: 33px;
  }
}

@media (min-width: 1440px) {
  .partners .partners__content .partners__card {
    width: 25%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .partners .partners__content .partners__card:nth-of-type(2) {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .partners .partners__content .partners__card:nth-of-type(4) {
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
}

.partners .partners__content .partners__card .partners__avatar {
  position: relative;
  width: 120px;
  height: 120px;
}

.partners .partners__content .partners__card .partners__avatar:hover .partners__face {
  box-shadow: 0 0 0px 4px #f66;
}

.partners .partners__content .partners__card .partners__avatar:hover {
  cursor: pointer;
}

.partners .partners__content .partners__card .partners__avatar > .icon {
  position: absolute;
  right: -4px;
  bottom: -4px;
}

.partners .partners__content .partners__card .partners__avatar .partners__face {
  border-radius: 50%;
}

.partners .partners__content .partners__card .partners__name {
  font-family: MontserratBold, Arial, sans-serif;
  font-size: 14px;
  margin-top: 21px;
  color: #333;
}

.partners .partners__content .partners__card .partners__name:hover {
  color: #f66;
}

.partners .partners__content .partners__card .partners__about {
  margin-top: 12px;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #666;
  text-align: center;
}

.partners .partners__btn {
  width: 93%;
  margin-top: 2px;
  text-align: center;
  font-family: MontserratBold, Arial, sans-serif;
  font-size: 14px;
  line-height: 36px;
  color: #f66;
}

.partners .partners__btn:hover {
  color: #fff;
  background-color: #f66;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .partners .partners__btn {
    width: auto;
    margin-top: 28px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.promo {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
              -ms-grid-row-align: stretch;
          align-self: stretch;
  height: 540px;
  background-image: url("../img/bg-promo.jpg");
  background-repeat: no-repeat;
  background-position: top -10px left 51.4%;
  background-size: auto 102.4%;
  padding-top: 20px;
  font-family: MontserratBold, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
}

.promo .promo__wraper {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.promo .promo__wraper:after {
  content: " ";
  display: block;
  clear: both;
}

head {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}

head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}

head:hover ~ .promo .promo__wraper,
head:hover ~ body .promo .promo__wraper {
  position: relative;
}

head:hover ~ .promo .promo__wraper:before,
head:hover ~ body .promo .promo__wraper:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.4), rgba(179, 179, 255, 0.4));
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}

.promo .promo__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .promo .promo__header {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .promo {
    min-width: 768px;
    background-position: center;
    background-size: cover;
    height: 700px;
    padding-top: 38px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1440px) {
  .promo {
    min-width: 1440px;
  }
}

.promo__login > .promo__login-btn {
  border-color: transparent;
  background-color: transparent;
}

.promo__login > .promo__login-btn:hover {
  border-color: #fff;
  background-color: transparent;
}

.promo__slogan {
  padding-top: 30px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .promo__slogan {
    padding-top: 140px;
    font-size: 52px;
    line-height: 62px;
  }
}

.promo__subslogan {
  padding-top: 9px;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 18px;
  line-height: 21px;
  font-family: Roboto, Tahoma, sans-serif;
  font-weight: lighter;
  text-align: center;
}

@media (min-width: 768px) {
  .promo__subslogan {
    padding-top: 28px;
    font-size: 24px;
  }
}

.promo__btn-gostart {
  display: block;
  line-height: 36px;
  margin-top: 16px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f66;
  text-align: center;
}

@media (min-width: 768px) {
  .promo__btn-gostart {
    padding-left: 21px;
    margin-top: 37px;
    width: 226px;
  }
}

.search {
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .search {
    margin-bottom: 40px;
    margin-bottom: 100px;
  }
}

.search .search__header {
  font-family: MontserratBold, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.1818;
  color: #333;
  margin-top: 34px;
}

@media (min-width: 768px) {
  .search .search__header {
    margin-top: 96px;
  }
}

.search .search__label {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #333;
  margin-top: 12px;
}

@media (min-width: 768px) {
  .search .search__label {
    margin-top: 32px;
  }
}

.search .search__form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 93.3333%;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .search .search__form {
    margin-top: 37px;
    width: 410px;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.search .search__form .search__input {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 38px;
  color: #999;
  width: 100%;
}

@media (min-width: 768px) {
  .search .search__form .search__input {
    width: 240px;
  }
}

.search .search__form .search__submit {
  font-family: MontserratBold, Arial, sans-serif;
  font-size: 14px;
  line-height: 36px;
  color: #fff;
  background-color: #f66;
  width: 100%;
  margin-top: 10px;
}

.search .search__form .search__submit:hover {
  background-color: rgba(255, 102, 102, 0.7);
}

@media (min-width: 768px) {
  .search .search__form .search__submit {
    margin-top: 10px;
    margin-top: 0px;
    width: 160px;
  }
}
