html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img, embed, object, video {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  line-height: 1;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[hidden] {
  display: none;
}

/************** End of Reset **************/

@font-face {
  font-family: 'MontserratBold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratReg';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: MontserratBold, Arial, sans-serif;
}

p, input[type="text"], textarea, label {
  font-family: Roboto, Tahoma, sans-serif;
}

a, input[type="button"], input[type="submit"], button {
  font-family: MontserratReg, Arial, sans-serif;
}

.btn {
  padding-left: 17px;
  padding-right: 17px;
  border: 2px solid #f66;
  border-radius: 50px;
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

.btn:hover {
  cursor: pointer;
}

.promo__btn-gostart {
  display: block;
  line-height: 36px;
  margin-top: 16px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f66;
  text-align: center;
}

.promo__btn-gostart:hover {
  background-color: rgba(255, 102, 102, 0.7);
  border-color: transparent;
}

@media (min-width: 785px) {
  .promo__btn-gostart {
    padding-left: 21px;
    margin-top: 37px;
    width: 226px;
  }
}


.promo__logo {
  display: block;
  margin-top: 115px;
  font-size: 20px;
}

.promo__logo:hover {
  cursor: pointer;
  color: #f66;
}

@media (min-width: 785px) {
  .promo__logo {
    float: left;
    font-size: 20px;
    padding-top: 2px;
    letter-spacing: 0.9px;
  }
}

.promo__login {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (min-width: 785px) {
  .promo__login {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
}

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-btn-next {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 30px;
  height: 55px;
}

.icon-btn-prev {
  background-image: url(../img/sprite.png);
  background-position: -30px 0px;
  width: 30px;
  height: 55px;
}

.icon-circle-cup {
  background-image: url(../img/sprite.png);
  background-position: -41px -55px;
  width: 40px;
  height: 40px;
}

.icon-circle-flask {
  background-image: url(../img/sprite.png);
  background-position: -60px 0px;
  width: 41px;
  height: 40px;
}

.icon-circle-plane {
  background-image: url(../img/sprite.png);
  background-position: 0px -55px;
  width: 41px;
  height: 40px;
}

.icon-circle-tv {
  background-image: url(../img/sprite.png);
  background-position: -101px 0px;
  width: 40px;
  height: 40px;
}

.footer {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  background-color: lightgrey;
}

.crsl {
  display: block;
  visibility: hidden;
  margin: 15px auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 1219px;
  width: 100%;
  min-width: 300px;
}

.crsl::after {
  content: '';
  display: block;
  clear: both;
}

.crsl__arrow {
  display: block;
  float: left;
  margin-top: 80px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: lightgrey;
  background-image: url("../img/btn-prev.svg");
}

.crsl__arrow:hover {
  cursor: pointer;
  background-color: grey;
}

.crsl__arrow-left {
  margin-right: 15px;
}

.crsl__arrow-right {
  margin-left: 15px;
}

.crsl__hider {
  float: left;
  width: 1075px;
  width: 300px;
  overflow: hidden;
}

.crsl__list {
  position: relative;
  width: 10000px;
}

.crsl__element {
  display: block;
  float: left;
  margin-right: 25px;
  text-align: center;
  position: relative;
}

.crsl__element img {
  max-width: 300px;
}

.crsl__element .icon {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 10;
}

.crsl__descr {
  position: absolute;
  top: -50px;
}

.hiw {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 0;
  padding-right: 0;
  background-color: lightgrey;
}

.hiw:after {
  content: " ";
  display: block;
  clear: both;
}

.hiw__header {
  text-align: center;
  padding-top: 37px;
  font-size: 22px;
}

.hiw__steps {
  padding-top: 10px;
}

.ideas {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  background-color: lightgrey;
}

.page {
  min-width: 320px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightpink;
}

@media (min-width: 320px) {
  .page {
    background-color: lightgreen;
  }
}

@media (min-width: 768px) {
  .page {
    background-color: lightblue;
  }
}

@media (min-width: 1440px) {
  .page {
    background-color: lightyellow;
  }
}

.partners {
  height: 3000px;
  border: 10px solid #999;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  background-color: lightgrey;
}

.promo {
  min-width: 320px;
  height: 540px;
  background-color: #c6a57a;
  background-image: url("../img/bg-promo.jpg");
  background-repeat: no-repeat;
  background-position: top -10px left 51.4%;
  background-size: auto 102.4%;
  padding-top: 20px;
  font-family: MontserratBold, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
}

.promo .promo__wraper {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.promo .promo__wraper:after {
  content: " ";
  display: block;
  clear: both;
}

.promo .promo__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 785px) {
  .promo .promo__header {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 785px) {
  .promo {
    min-width: 768px;
    background-position: center;
    background-size: cover;
    height: 700px;
    padding-top: 38px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1440px) {
  .promo {
    min-width: 1440px;
  }
}

.promo__login-btn {
  border-color: transparent;
}

.promo__login-btn:hover {
  border-color: #fff;
}

.promo__slogan {
  padding-top: 30px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 785px) {
  .promo__slogan {
    padding-top: 140px;
    font-size: 52px;
    line-height: 62px;
  }
}

.promo__subslogan {
  padding-top: 9px;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 18px;
  line-height: 21px;
  font-family: Roboto, Tahoma, sans-serif;
  font-weight: lighter;
  text-align: center;
}

@media (min-width: 785px) {
  .promo__subslogan {
    padding-top: 28px;
    font-size: 24px;
  }
}

.search {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  background-color: lightgrey;
}
