      // 10 #fff 14px #fff; 20 #fff 22 #fff 24 #fff 52 #fff 
      // 10 #ccc 14 #ccc 
      // 14 #333 18 #333 22 #333 
      // 14 #f66 16 #f66
      // 14 #666 
      // 14 #999
$main-white: #fff;
$main-black: #333;
$main-red: #f66;

$plain-on-dark: #ccc;
$plain-on-light: #666;

$form-placeholder: #999;

$legal-header: #ccc;
