@import 'susy';

$scrollbar: 17px;

$mobile: 320px;
$mediaMobile: $mobile + $scrollbar;

$tablet: 768px;
$mediaTablet: $tablet;
// $mediaTablet: $tablet + $scrollbar;

$desktop: 1440px;
$mediaDesktop: $desktop;
// $mediaDesktop: $desktop + $scrollbar;


$susy_container: 940px;
$susy_columns: 12;
$susy_gutter: 0.25;
// $susy_gutter: 20px;
$susy: (
  gutter-position: inside, // before / after / inside.
  container: $susy_container, // максимальная ширину в любых единицах, например px, em, rem и т.д.
  container-position: center, // center / left / right
  columns: $susy_columns, // количество колонок
  gutters: $susy_gutter, // ширина пробельчика для каждой колонки
  global-box-sizing: border-box, // можно еще content-box
  debug: (
    image: show, // варианты: show | hide | show-columns | show-baseline для показа всех вариантов колонок и линеечек
    color: rgba(#66f, 0.4), // менять цвет у колонок
    output: overlay, // background - постоянно, overlay - при наведении
  )
);

@media (min-width: $mediaTablet) {
  $susy: (
    gutters: 20px/500px
  );
}

@media (min-width: $desktop) {
  $susy: (
    gutters: 20px/940px
  );
}

