

// Media Queries
$mobile: "screen and (min-width: 480px) and (max-width: 767px)";
$tablet: "screen and (min-width: 768px) and (max-width: 959px)";
$desktop: "screen and (min-width: 960px)";
$desktop-large: "screen and (min-width: 1260px)";
