@import '../globals/globals';

.carousel__container {
  // @include span(full 12 of 12);
  display: flex;
  justify-content: center;
  visibility: hidden;
  margin-top: 10px;
  // margin-bottom: 0px;
  // padding-left: 0;
  // padding-right: 0;
  // width: 100%;
  
  &::after {
    content: '';
    display: block;
    clear: both;
  }

  @media (min-width: $mediaTablet) {
    @include span(4 of 12);
    &:first-child {
      padding-left: 0;
    }
    &:nth-child(3) {
      padding-right: 0;
    }
  }

}


.carousel__hider {
  position: relative;
  float: left;
  overflow: hidden;
  border-radius: 4px;
  
  &:hover .carousel__element {
    box-shadow: none;
  }
}


.carousel__list {
  position: relative;
  width: 10000px;
}


.carousel__element {
  position: relative;
  display: block;
  float: left;
  margin-right: 25px;
  height: 240px;
  
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  box-shadow: 0px -360px 240px -240px rgba(0, 0, 0, 0.6) inset;

    @media (min-width: $mediaTablet) {
      height: 400px;
    }

  @each $n in 1, 2, 3 {
    &-#{$n} {
      background-image: url(../img/Mobile-step#{$n}.jpg);
  
      @media (min-width: $mediaTablet) {
        background-image: url(../img/Desktop-step#{$n}.jpg);
      }

    }
  }
  
  &-description {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 10;
    color: $main-white;

    .carousel__element-btn {
      width: 70px;
      background-color: $main-red;
      font-family: $font-main;
      font-size: 10px;
      line-height: 14px;
      margin-bottom: 15px;
    }

    .carousel__element-header {
      font-family: $font-main-bold;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 12px;
    }
    .carousel__element-text {
      color: $plain-on-dark;
      font-family: $font-plain;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 17px;
    }
    
  }
}


.carousel__controls {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  height: 100%;
  
  &-prev > .icon {
    float: left;
  }
  &-next > .icon {
    float: right;
  }

  &-prev,
  &-next {
    width: 50%;
    
    &>.icon {
      visibility: hidden;
      @media (min-width: $mediaTablet) {
        visibility: visible;
      }
    }

    @media (min-width: $mediaTablet) {
      padding: 40px 20px;
    }

    @media (min-width: $desktop) {
      padding-top: 150px;
    }

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }

  }
} 
