@import '../globals/globals';

.carousel__container {
  display: flex;
  visibility: hidden;

  margin-top: 10px;

  justify-content: center;
  &::after {
    display: block;
    clear: both;

    content: '';
  }
  @media (min-width: $mediaTablet) {
    @include span(4 of 12);
  }
}


.carousel__hider {
  position: relative;

  float: left;
  overflow: hidden;

  border-radius: 4px;
  &:hover .carousel__element {
    box-shadow: none;
  }
}


.carousel__list {
  position: relative;

  width: 10000px;
}


.carousel__element {
  position: relative;

  display: block;
  float: left;

  height: 240px;
  margin-right: 25px;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  box-shadow: 0 -360px 240px -240px rgba(0, 0, 0, .6) inset;
  @media (min-width: $mediaTablet) {
    height: 400px;
  }
  @each $n in 1, 2, 3 {
    &-#{$n} {
      background-image: url(../img/Mobile-step#{$n}.jpg);
      @media (min-width: $mediaTablet) {
        background-image: url(../img/Desktop-step#{$n}.jpg);
      }
    }
  }
  &-description {
    position: absolute;
    z-index: 10;
    bottom: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    // (КАК ? ) Здесь нужно унаследовать ширину не своего родителя, а хайдера. - 3-го родителя.
    padding-right: 20px;
    padding-left: 20px;

    color: $main-white;

    justify-content: flex-end;
    align-items: flex-start;
    @media (min-width: $mediaTablet) {
      width: 95%;
    }
    @media (min-width: $mediaDesktop) {
      width: 92%;
    }
    .carousel__element-btn {
      font-family: $font-main;
      font-size: 10px;
      font-weight: normal;
      line-height: 14px;

      width: 70px;
      margin-bottom: 15px;
      padding-right: 0;
      padding-left: 0;

      text-align: center;
      vertical-align: 5px;
      white-space: nowrap;
      text-indent: 3px;
      letter-spacing: 2px;
      text-transform: uppercase;

      color: $main-white;
      background-color: $main-red;
      &:hover {
        border-color: transparent;
        background-color: rgba($main-red, .7);
      }
    }
    .carousel__element-header {
      font-family: $font-main-bold;
      font-size: 24px;
      line-height: 29px;

      margin-bottom: 10px;
    }
    .carousel__element-text {
      font-family: $font-plain;
      font-size: 14px;
      line-height: 17px;

      margin-bottom: 17px;

      color: $plain-on-dark;
    }
  }
}


.carousel__controls {
  position: absolute;
  z-index: 10;

  display: flex;

  width: 100%;

  justify-content: space-between;
  &-prev,
  &-next {
    & > .icon {
      visibility: hidden;
      @media (min-width: $mediaTablet) {
        visibility: visible;
      }
    }
    @media (min-width: $mediaTablet) {
      padding: 20px;
    }
    @media (min-width: $mediaDesktop) {
      margin-top: 130px;
      padding-top: 20px;
    }
    &:hover {
      cursor: pointer;

      opacity: .7;
    }
  }
}
