@import '../globals/globals';

.warning
{
  font-family: $font-plain;
  font-size: 16px;
  font-weight: bold;
  line-height: 3;

  text-align: center;
  text-transform: uppercase;

  color: $main-red;
}
