.cssbox {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;

  & label {
    cursor: pointer;

    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("../img/chBx.png");
      position: relative;
      top: 3px;
      margin-left: 15px;
    }

    &:hover:after {
      box-shadow: 0 0 1px #000;
    }
  }


  & .css-checkbox {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  
    &:checked + label:after {
      background-position: 0 -16px;
    }

    &:disabled + label:after {
      background-position: 0 -32px;
    }

    &:checked:disabled + label:after {
      background-position: 0 -48px;
    }

    &:checked:disabled + label:hover:after {
      box-shadow: 0 0 1px #000;
    }
  }

}