@import '../globals/tools';

.page {

  @include container();
  // @include clearfix();
  background-color: red;
  
  @media (min-width: 320px) {
    background-color: green;
  }
  
  @media (min-width: 768px) {
    background-color: blue;
  }
  
  @media (min-width: 1440px) {
    background-color: yellow;
  }
}

p {
  @include span(8);
  // display: block;
  background-color: white;
}

ul {
  @include span(4);
  // display: block;
  // float: none;
  background-color: grey;
}

blockquote {
  @include span(12);
  // display: block;
  background-color: lightgrey;
}

.div {
  @include span(12);
  background-color: lightyellow;
}