@import '../globals/globals';

.page {

  min-width: $mobile;
  max-width: $desktop;
  margin-left: auto;
  margin-right: auto;
  // margin-left: -8.5px; /* Для Перефект Пиксель. Потом убрать !!!  */
  
  background-color: lightpink;

  @media (min-width: 320px) {background-color: lightgreen; }
  @media (min-width: 768px) {background-color: lightblue; }
  @media (min-width: 1440px) {background-color: lightyellow; }

}
