@import '../globals/globals';

.page {
  display: flex;
  flex-direction: column;

  min-width: $mobile;
  max-width: $mediaDesktop;
  margin-right: auto;
  margin-left: auto;

  align-items: center;
}

.page__sizer {
  @include container;

  overflow: hidden;

  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  @media (min-width: $mediaTablet) {
    min-width: 748px;
  }
  @media (min-width: $mediaDesktop) {
    min-width: 980px;
    padding-right: 0;
    padding-left: 0;
  }
}
