body {
  background-color: #ada;
}
// ↑ ↑ ↑ ↑ Временный цвет заливки. ↑ ↑ ↑ ↑

$page-width: 1170px;
$gutter: 15px;
$columns: 12;

:root {
  --accent: #f93;
  --section-dark-bg: #000;
  --section-dark-textcolor: #fff;
  --page-width: $page-width;
  --gutter: $gutter;
  --columns: $columns;
  font-size: 14px;
}

.wrapper {
  display: block;

  max-width: var(--page-width);
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.row {
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
}

.col {
  display: block;
  margin-left: var(--gutter);
  margin-right: var(--gutter);
}

@for $n from 1 through $columns {
  .col-#{$n} {width: calc( #{$n} / $columns - $gutter * 2 ); }
}
