@import '../globals/globals';

html {
  font-size: 16px; // set 1rem size.
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-main;
}

p, input[type="text"], textarea, label {
  font-family: $font-main;
}

a, input[type="button"], input[type="submit"], button {
  font-family: $font-main;
}
